HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.gradle
bin

docker/mysql/data

node_modules
cypress/screenshots
cypress/videos
cypress/cucumber-json
cypress/report

out

src/main/resources/public
src/main/resources/static/js/*.html
src/main/resources/static/js/bundle.js
src/main/resources/static/js/bundle.js.LICENSE.txt

.DS_Store
public
dist

.vercel

id_rsa
id_rsa.pub

!ops/build
