commands:
  01_node_get:
    # run this command from /tmp directory
    cwd: /tmp
    # flag -y for no-interaction installation (visit https://rpm.nodesource.com for latest)
    command: 'curl --silent --location https://rpm.nodesource.com/setup_12.x | bash -'

  02_node_install:
    # run this command from /tmp directory
    cwd: /tmp
    command: 'yum -y install nodejs'

  03_yarn_install:
    cwd: /tmp
    command: 'npm install -g yarn'
