<!DOCTYPE html>
<html xmlns:th="http://www.thymelef.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/bundle.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Home</title>
</head>
<body>
<h1>会議室予約システム</h1>
<nav>
    メニュー
    <ul>
        <li><a id="home" th:href="@{/}">ホーム</a></li>
        <li><a id="rooms" th:href="@{/rooms}">会議室一覧</a></li>
        <li>
            <form name="form_logout" type="hidden" method="post" th:action="@{/logout}">
                <a id="logout" href="javascript:form_logout.submit()">ログアウト</a>
            </form>
        </li>
    </ul>
</nav>
<main>
    <h2>会議室予約システムへようこそ</h2>

    <p>このシステムは、利用者がインターネット経由で予約できる画期的なシステムです</p>

    お知らせ
    <ul>
        <li>会議室予約機能をリリースしました</li>
    </ul>
</main>
<footer>&copy; 2021 k2works</footer>
</body>
</html>
